.navigation-block{
    display: flex;
    justify-content: center;
    ul.navigation-nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 500px;
        width: 100%;
        li{
            
        }
        a{
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }
    }
}